<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Introduction</title>
      <style>
       body {
          background-image: url("{% static 'sentiment/b20.jpg' %}");
          background-repeat: repeat;
             }
      </style>
      <style>
          h1 {
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            text-shadow: 10px 10px 5px lightblue;
            color: white;
            font-family: "arial black";
            }
      </style>
      <style>
           p {
            text-align: center;
            font-size: 30px;
            font-weight: italic;
            color: white;
            font-family: "calibri";
            }
      </style>
  </head>

  <body>
   <!--{% load static %}-->
     <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
       <div class="container">
           <a class="navbar-brand" href="#">All you need to know about Sentiment Analysis...</a>
       </div>
     </nav>
   <br/>

    <h1>SENTIMENT ANALYSIS</h1>
   <br/>

   <div class="container" align="center">

     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
       <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/a4.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>

    </div>
    <div class="carousel-item">
       <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/a3.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>

    <div class="carousel-item">
         <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/a1.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>
    <div class="carousel-item">
         <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/13.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>

   <div class="carousel-item">
         <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/b19.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>

    <div class="carousel-item">
         <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/9.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>

    <div class="carousel-item">
         <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 18rem;">
           <img src="{% static 'sentiment/b18.jpg' %}" class="card-img-top" alt="...">

         </div>
    </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>
   <br/>

<div class="container">
<p>
    As internet is growing bigger, its horizons are becoming wider. Social Media and Micro blogging platforms
    like Facebook, Twitter dominate in spreading encapsulated news and trending topics across the globe at
    a rapid pace. A topic becomes trending if more and more users are contributing their opinion and judgements,
    thereby making it a valuable source of online perception.
    Sentiment analysis is the prediction of emotions in a word, sentence or corpus of documents.
    It is intended to serve as an application to understand the attitudes, opinions and emotions expressed within an
    online mention. The intention is to gain an overview of the wider public opinion behind certain topics.
</p>
  <br/>
   <div class="container" align="center">
       <img src="{% static 'sentiment/aa1.jpg' %}">
   </div>
   <br/>

   <p>
       Sentiment analysis is the process of using natural language processing, text analysis, and statistics to analyze customer sentiment. ... Today we use natural language processing, statistics, and text analysis to extract, and identify the sentiment of words into positive, negative, or neutral categories.
Sentiment analysis is the automated process of determining whether a text expresses a positive, negative, or neutral
   </p>
    <br/>

   <div class="container" align="center">
       <img src="{% static 'sentiment/b15.jpg' %}">
   </div>
  <br/>
    <p>
        We won’t be diving deep into the mechanics of automated sentiment analysis here. On a basic level,
        though, it involves advanced technology, such as machine learning, natural language processing, and
        text polarity classification.

    </p>

  <br/>
    <p>
        Thanks to all these processes, you can analyze the sentiment of any written text across the Internet.
        We are specifically going to take a closer look at how sentiment
        analysis works on text analysis.
    </p>
    <br/>
    <br/>
    <p>
       OBJECTIVE
       <br/>
       Sentiment classification is a way to analyse the subjective information in the text and then
       make the opinion. Sentiment analysis is the  procedure by which information is extracted from
       the opinion, appraisals and emotions of people regards to entities, events and the their attributes.
       That’s why sentimental analysis is so useful. Organizations are leveraging the power of sentiment
       analysis to filter out this valuable information in order to better understand consumers’ conversation
       and take more effective, better-targeted action. Today, organizations are using sentiment analysis for
       everything from marketing to customer service.
       In decision making, the opinion of others have significant on customers case, making choice’s with
       regards to online shopping ,entities etc.


   </p>
    <br/>
    <br/>
    <p>
        SENTIMENT ANALYSIS EXAMPLE
        <br/>
        Imagine you received the following review on your Facebook page:
        <br/>
“I really enjoy how easy this product is to use and how it successfully helps my team complete their day-to-day tasks.”
        <br/>
Looking at this sentence, you can immediately tell the review is positive,
But how would computer algorithms determine its sentiment?
First of all, they would examine each word of the review and establish whether the mood they’re conveying is positive, negative, or neutral.
        Then, they would measure how many words there are in each category and, based on this number, assign a sentiment
        type.
In the case of the mentioned review, there are two positively charged words – “enjoy” and “successfully” – which
        indicate that the entire sentence is positive.
    </p>

     <div class="container" align="center">
       <img src="{% static 'sentiment/aa3.jpg' %}" width="60%">
   </div>
    <p>
        Today’s advanced sentiment analysis tools can break down roughly any written message and
        determine its sentiment in no-time. As a result, you’re able to quickly learn the feelings and emotions
        behind your audience’s messages and respond appropriately.
    </p>
    <br/>




</div>
<div class="container" align="right">
   <form action="/sentiment/analyse" method="get">
      <button type="submit" class="btn btn-secondary btn-lg">Start Now</button>
   </form>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>